body {
              font-family: Arial, sans-serif;
              margin: 20px;
              background-image: url('/FMS/resources/images/bg.jpg');
              background-size: cover; /* Ensures the image covers the full page */
              color: #333; /* Default text color */
          }